    <div id="expose">
      <form class="round" id="srch_map" name="reviewForm" ng-submit="loadData(); setLocation();">
          <label for="zip">Which city do you want to search?</label>
          <input ng-model="locationInput" type="text" id="zip" name="zip" placeholder="Zip Code">
          <input id="find_tweets" class="button" type="submit"  value="Search!" >
      </form>
    </div>
