<div id="expose">
  <form name="reviewForm" ng-submit="loadData(); setLocation();">
    <label for="zip">Which city do you want to search?</label>
    <input ng-model="locationInput" type="text" name="zip" placeholder="Zip Code">
    <input type="submit"  value="Search!" >
  </form>
</div>
