<div  ng-controller="MapController as geo">
<h1>Best Instagrams <div ng-if="location">in {{location}}</div></h1>
  <search>
  </search>
  <div ng-if="featuredInstagram" class="display">
    <profile>
    </profile>
    <list>
    </list>
  </div>
</div>
