<!DOCTYPE html>
<html ng-app="tweetFinder">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/application.css">
    <script src="/js/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-resource.js"></script>
    <script src="/js/application.js"></script>
  </head>
  <body>
  <%= yield %>
  </body>
</html>
